**/*.swp
**/*.swo
**/*.o
**/*.a
tags
codegrep.map
**/.waf-*
**/.waf3-*
**/.lock*
**/build
**/__pycache__
**/*.pyo
**/*.pyd
**/*.pyc
.vscode
GPATH
GRTAGS
GTAGS
mka.conf
mka1.conf
mka2.conf
*.orig
*.rej
**/.~lock*
