name: ci

on:
  push:
  pull_request:

jobs:
  run-ut:
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Tests
      run: |
        sudo apt-get update
        sudo apt-get install build-essential libglib2.0-dev-bin pkg-config libssl-dev libyaml-dev libbsd-dev libnl-3-dev libnl-genl-3-dev libnl-route-3-dev libglib2.0-dev libxml2-dev lcov cmake
        git submodule update --init --recursive
        python3 waf test

